.container {
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: calc(var(--header-height) + 0.5rem);
    border-radius: 8px;
    padding: 0.5rem 1rem;
    /* border: 1px solid var(--border-sec); */
    box-shadow: 1px 2px 2px 0 var(--text-prim-opac-2);
    background-color: var(--background-prim);
}

.textWrapper {
    font-size: 0.8rem;
}

.selectWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.selectWrapper select {
    /* border: 1px solid red; */
    border-radius: 4px;
    padding: 6px 4px;
    background-color: var(--prim-color);
    color: var(--background-prim);
    cursor: pointer;
}

.buttonWrapper {
    /* border: 1px solid green; */
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonWrapper button {
    border: 1px solid var(--border-prim);
    width: 40px;
    height:40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--prim-color);
}

.buttonIcon {
    font-size: 1.3rem;
}