
.buttonWrapper {
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-end;
}

.submitButton {
    /* width: 100%; */
    padding: 6px 12px;
    background-color: var(--prim-color);
    color: var(--background-prim);
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    /* font-weight: 600; */
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.submitButton:hover {
    background-color: var(--prim-color-opac-9);
    transform: scale(1.05);
}

.icon {
    font-size: 1.3rem;
    margin-right: 0.4rem;
}


/* message box styles */
.messageBoxContainer {
    position: relative;
    display: flex;
    align-items: center;
    position: fixed;
    padding: 1rem;
    border-radius: 4px;
    /* min-height: 3.5rem; */
    box-shadow: 1px 2px 2px 0 var(--text-prim-opac-2);
    background-color: var(--background-prim);
    z-index: 30;
    right: -100%;
    opacity: 0;
    transition: all 1s ease-in-out;

    top: calc(var(--header-height) + 1rem);
}

.showMessageBox {
    right: 1rem;
    opacity: 1;
}

.messageBoxTextWrapper {
    /* border: 1px solid var(--prim-border-color); */
    /* max-width: 16rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
} 