.container {
    /* border: 1px solid red; */
    position: sticky;
    top: var(--header-height);
    padding: 2rem;
    padding-bottom: 0;
    /* background: black; */
}

.child {
    /* border: 1px solid green; */
    display: flex;
    justify-content: flex-end;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    /* border: 1px solid var(--border-sec); */
    box-shadow: 1px 2px 2px 0 var(--text-prim-opac-2);
    /* background-color: var(--background-sec); */
}

.button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer; 
    color: var(--color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    transition: all 0.3s ease;
    border: 1px solid var(--border-sec);
    color: var(--prim-color);
}

.button:hover {
    background-color: var(--active-link-bg-color);
    box-shadow: 1px 5px 5px var(--box-shadow-color);
}

.isActive {
    background-color: var(--prim-color);
    color: var(--background-prim);
    border-color: var(--prim-color);;
    /* box-shadow: 1px 5px 5px var(--box-shadow-color); */
    /* border: 2px solid green; */
}

.icon {
    font-size: 1.3rem;
}